@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-off-white text-cinza-texto font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-azul-profundo;
  }
}

/* Scrollbar personalizada e mais bonita */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  @apply bg-azul-vibrante/50 hover:bg-azul-vibrante rounded-full;
}